/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* REGULAR CODE STARTS HERE */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 3rem;
}

.main {
  display: flex;
  height: 100vh;
  max-width: 800px;
  align-items: center;
  justify-content: flex-start;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: .5;
  padding-right: 2rem;
}

.start-button {
  width: 5rem;
}

button {
  --c:  #91c3ce; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}

#resetButton {
  --c: #ac96ce;
}

button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

body {
  /* height: 100vh;
  margin: 0;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  gap: 40px; */
  background: #fac670;
}

button {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  cursor: pointer;
  padding: .1em .6em;
  font-weight: bold;  
  border: none;
}

.pause-button {
  width: 5rem;
}

.reset-button {
  width: 5rem;
}

.grid {
    display: grid;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
    height: 550px;
    width: 550px;
}

.grid-element {
  user-select: none;
}

.character-container {
  background-color: rgba(0,0,0,0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  margin: 1rem;
}

.wally {
  margin: 1rem;
}

.odlaw {
  margin: 1rem;
}

.wizard {
  margin: 1rem;
}

.face {
  background-color: #F6DADA;
}

.bod-wally {
  height: 1rem;
  width: 1rem;
}

.opaque {
  opacity: 0.25;
}

.bod-odlaw {
  height: 1rem;
  width: 1rem;
  opacity: 1;
}

.bod-wizard {
  height: 1rem;
  width: 1rem;
  opacity: 1;
}

.red-body {
  background-color: #FF0000;
}

.white-body {
  background-color: #FFFFFF;
}

.yellow-body {
  background-color: #FFFF00;
}

.black-body {
  background-color: #000000;
}

.blue-body {
  background-color: #0183dd;
}

.time {
  font-size: 1.5rem;
  padding-top: 1rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* colour palette */
/* 
#f5e1be light orange
#dccaaa darker light orange
#fac670 mid orange
#e0b164 darker mid orange
#f37925 dark orange
#da6c21 darker dark orange
#f5e1be purple
#ac96ce darker purple
#91c3ce blue
#82afb9 darker blue
#0d0d0d black

*/
